.d1{
    background: blue;
    color: white;
padding: 20px;
width: 900px;
font-size: x-large;
top: 65px;
position: absolute;
left: 300px;
font-size:x-large ;
height: 90px;
    outline: 10px double blue;
    outline-offset: 20px;

}

.d2 {background: rgb(229, 229, 6);
    color: white;
    padding: 20px;
    width: 900px;
    top: 310px;
    position: absolute;
    left: 300px;
    font-size: x-large;

    height: 90px;
    outline: 10px double yellow;
    outline-offset: 20px;

}

.d3 {background: saddlebrown;
    color: antiquewhite;
    padding: 20px;
    width: 900px;
    top: 562px;
    position: absolute;
    left: 300px;
    font-size: x-large;
    height: 90px;
    outline: 10px double brown;
    outline-offset: 20px;

}
